/*  HEADER  */
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-row .menu > li {
  display: inline;
  margin-right: 20px;
}
.luxury-span,
span {
  font-family: Acumin;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 2px;
  margin: -4px;
}
.hotel-span,
span {
  font-family: Acumin;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4px;
  color: #191919;
}
.menu li {
  font-family: Acumin;
  font-weight: 200;
  font-size: 16px;
  color: #191919;
  letter-spacing: 1px;
}
.button {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: var(--gold);
  padding: 15px 40px;
  border-radius: 5px;
}
.menu {
  margin-left: 150px;
}
.logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MAIN-SECTION*/
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(../img/main-bg.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 120px 0;
  position: relative;
  margin-bottom: 80px;
}
.main-section::before {
  content: "";
  display: block;
  left: 0;
  top: -1px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 792px;
}
.main-section .container {
  position: relative;
  z-index: 2;
}
.check-in-form {
  margin-top: 100px;
  padding: 50px 10px 25px 10px;
  background: rgba(217, 160, 54, 0.5);
}
.select-city,
.arrival-date,
.departure-date,
.guests {
  margin-right: 20px;
}
.select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 200px;
  height: 50px;
}
.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  font-size: 20px;
  background-color: #fff;
}
.select-container .icon-select {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container {
  font-size: 30px;
}
.main-button {
  margin: 0 500px;
}
.main-section .btn {
  font-size: 20px;
  text-align: center;
}
.searh-btn {
  height: 100px;
  margin-top: 50px;
  margin-left: 60px;
}

/*Facilities-section*/
.facilities-section {
  margin-bottom: 80px;
}
.facilities-section-title {
  font-size: 16px;
  color: var(--gold);
  margin-bottom: 25px;
  text-transform: uppercase;
}
.facilities-section-main-title,
.comfort-title {
  color: #000;
  text-align: left;
  margin-bottom: 25px;
}
.facilities-item {
  width: calc(100% / 3 - 26px);
  border: 1px solid var(--gold);
  padding: 20px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.facilities-icon {
  font-size: 48px;
  margin-bottom: 20px;
}
.facilities-item .facilities-title {
  font-size: 18px;
  font-weight: bolder;
  color: #232633;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.facilities-item .facilities-text {
  color: #9b999a;
}
.facilities-row {
  padding: 0;
}
/*COMFORT-SECTION*/
.comfort-section {
  background-color: #fffaf2;
  margin-bottom: 80px;
}
.stars {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.comfort-item-left {
  padding: 60px 0;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.comfort-item-right {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 500px);
}
.comfort-item-col {
  width: calc(100% / 2 -20px);
}
.comfort-title,
.suites-main-title {
  font-size: 32px;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.stars-title,
.suites-title {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 30px;
}
.comfort-descr {
  width: 450px;
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #383841;
}
/* SUITES & ROOM*/
.suites-section {
  margin-bottom: 100px;
}
.suites-item {
  width: calc(100% / 3);
  position: relative;
}
.suites-item-down {
  position: relative;
  width: calc(100% / 2);
}
.suites-item img {
  border-radius: 25px;
}
.suites-item-down img {
  border-radius: 25px;
}
.col-suites {
  padding: 0;
  box-sizing: border-box;
}
.suites-main-title {
  margin-bottom: 20px;
}
.lower-suites-block {
  margin-top: 10px;
}
.price {
  position: absolute;
  left: 36px;
  bottom: 70px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.room-descr {
  position: absolute;
  left: 36px;
  bottom: 27px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 13px;
}

/* Promo-section */
.promo {
  background-image: url(../img/main-bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
}
.promo-stars {
  margin-top: 200px;
  margin-bottom: 15px;
  justify-content: center;
  gap: 5px;
}
/* .promo ::before {
  content: "";
  display: block;
  left: 0;
  top: -1px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 500px;} */

.promo-title {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.promo-subtitle {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.play {
  margin-left: 570px;
  margin-top: 10px;
}
.play i {
  color: #fff;
  font-size: 42px;
}
