.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  background-color: aquamarine;
  min-height: 100px;
}
.topnav {
  background-color: burlywood;
  min-height: 40px;
}
.topmenu {
  list-style: none;
  padding: 10px 0;
  font-size: 0;
  margin: 0 -10px;
}
.topmenu li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}
.topmenu a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: blanchedalmond;
  padding: 5px 5px;
}
.aside,
.main {
  display: inline-block;
}
.aside {
  background-color: cornflowerblue;
  width: 200px;
}
.main {
  background-color: darkolivegreen;
  width: calc(100% - 200px);
}
.footer {
  background-color: crimson;
}
.menu-in-line {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 15px;
  }
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  .menu-in-line {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .menuItem__img {
    margin-bottom: 2px;
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .topmenu li {
    display: block;
  }
  .topmenu a {
    display: block;
    margin: 5px -5px;
  }
}
