@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
:root {
  --grey: #5c5c5e;
}
.section-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--grey);
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  border-bottom: 1px solid #cacad6;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px;
  padding-top: 10px;
}
.menu {
  display: flex;
  gap: 0 20px;
}
.logo {
  justify-self: center;
}
.basket {
  position: relative;
  justify-self: end;
}
.basket span {
  font-size: 11px;
  color: #fff;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
/*Section-Top*/
.top {
  min-height: calc(100vh - 81px);
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.title {
  padding-top: 60px;
  font-size: 96px;
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 36px;
}
.top__text {
  font-size: 13px;
  margin-bottom: 50px;
}
.buy__text {
  font-size: 13px;
  margin-top: 10px;
}
.buy-btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  padding: 0;
  text-transform: uppercase;
  padding: 1px;
}
.buy-btn__text {
  color: #f6f4f5;
  padding: 20px 110px;
}
.buy-btn__price {
  background-color: #f6f4f5;
  padding: 20px 105px;
}
/*FEATURES*/
.features {
  padding: 100px 0;
}
.features_titles {
  display: flex;
}
.features_title {
  flex-basis: 300px;
  /* padding-right: 20px; */
}
.features_text {
  max-width: 330px;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 2px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}
.tabs_btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tabs_btn-item {
  font-weight: 700;
  margin-bottom: 20px;
}
.tabs_btn-item--active {
  color: #070707;
}
.tabs_content {
  position: relative;
  min-height: 300px;
}
.tabs_content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity .3s ease;
}
.tabs_content-item--active {
  opacity: 1;
}

.video {
  grid-column: 2/3;
  width: 273px;
  /* height: 150px; */
  background-image: url(../images/content-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 9px 10px;
}
.video-btn {
  margin-left: 22px;
}
.video span {
  font-size: 13px;
  color: #f6f4f5;
}
.tabs-content-box h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}
.tabs-content-img {
  grid-row: 1/-1;
  align-self: stretch;
}
